apiVersion: apps/v1
kind: Deployment
metadata:
  name: product-catalog-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: product-catalog
  template:
    metadata:
      labels:
        app: product-catalog
    spec:
      containers:
        - name: product-catalog-service
          image: productcatelogregistry.azurecr.io/product-catalog-service:latest
          ports:
            - containerPort: 4000
      imagePullSecrets:
        - name: acr-auth
