name: Product-Catelog-Service

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Set up kubectl
        uses: azure/setup-kubectl@v1
        with:
          kubeconfig: ${{ secrets.KUBE_CONFIG }}
          version: 'latest'

      - name: Product-Catelog-Service
        run: |
          kubectl apply -f deployment.yaml || true

        continue-on-error: true
